body {
    background: #83a4d4; /* fallback for old browsers */
    background: linear-gradient(to bottom, #83a4d4 , #b6fbff);
    font-family: sans-serif;
    margin: 0;
}
#bzkanban {
    display: flex;
    height: 100%;
    flex-direction: column;
}
#board {
    display: flex;
    flex: 1;
    overflow-x: auto;
}
.board-column-title {
    font-weight: bold;
    padding: 10px 5px 5px 5px;
    padding-top: 10px;
    border-radius: 3px 3px 0 0;
    background: #E2E4E6;
}
.cards {
    overflow-x: hidden;
    align-self: stretch;
}
.board-column-card-count {
    font-weight: normal;
    color: grey;
    margin-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: lightgrey;
    padding: 2px 3px;
}
.board-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 4px;
    min-width: 350px;
    max-width: 400px;
}
.board-column.drag-card {
    outline-width: 2px;
    outline-style: dashed;
    outline-color: grey;
}
.board-column-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 0 0 3px 3px;
    background: #E2E4E6;
}
#BACKLOG .board-column-title,
#BACKLOG .board-column-content {
    background: darkgrey;
}
.card {
    background-color: white;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
    font-size: small;
    box-shadow: 0px 1px 0px lightgrey;
    cursor: pointer;
}
.card:hover {
    background-color: ghostwhite;
    border-color: black;
}
.card-ref {
}
.card-summary {
    word-break: break-word;
}
.card-meta {
    font-size: smaller;
    color: grey;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.card-meta .assignee {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.assignee .gravatar {
    margin-left: 5px;
    border-radius: 10px;
}
.card-meta .badge {
    margin-right: 10px;
}
.badge .fa {
    padding-right: 3px;
}
.badge[data-severity='blocker'],
.badge[data-severity='critical'],
.badge[data-severity='major'] {
    color: red;
}
.badge[data-severity='normal'],
.badge[data-severity='minor'],
.badge[data-severity='trivial'] {
    color: gray;
}
.badge[data-severity='enhancement'] {
    color: green;
}
.badge[data-priority='P1'],
.badge[data-priority='Highest'] {
    color: red;
}
.badge[data-priority='P2'],
.badge[data-priority='High'] {
    color: orange;
}
.badge[data-priority='P3'],
.badge[data-priority='Normal'],
.badge[data-priority='normal'],
.badge[data-priority='---'] {
    color: green;
}
#textBacklog {
    width: 100px;
    border-style: solid;
    border-color: white;
    border-width: thin;
    text-align: center;
    align-self: center;
    display: none;
    font-size: small;
    margin-left: 15px;
}
#query .fa {
    vertical-align: bottom;
    border-radius: 3px 0 0 3px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: darkgrey;
    padding: 3.5px;
    background-color: white;

}
#query select {
    width: 150px;
    border-width: 1px 1px 1px 0;
    border-radius: 0 3px 3px 0;
}
#query span {
    margin-right: 15px;
}
#whoami {
    font-size: small;
}
#notification {
    display: none;
    margin-left: 5px;
}
#nav {
    flex: none;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
#nav span {
    align-self: center;
}
#nav .spring {
    flex: 1;
}
.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    display: flex;
    background-color: white;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
    width: 44em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    max-height: 80%;
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
.modalClose {
    float: right;
}
.modalClose:hover,
.modalClose:focus {
    color: grey;
    cursor: pointer;
}
.modal-header {
    font-size: x-large;
}
.modal-header,
.modal-body,
.modal-footer {
    padding: 15px;
    align-self: stretch;
}
.modal-header input {
    width: 80%;
    font-size: inherit;
    padding: initial;
}
.modal-header label:hover {
    cursor: auto;
}
.modal-body,
.modal-footer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.modal-footer {
    min-height: 25px;
}
.modal-body input,
.modal-body select {
    width: 100%;
}
.modal-body textarea {
    width: 100%;
    height: 200px;
    resize: vertical;
}
.modal-body label {
    margin-top: 10px;
    font-weight: bold;
}
.modal-body ul {
    margin: 0px;
}
.modal-footer button {
    align-self: flex-end;
}
#modalBug .modal-body,
#modalNewBug .modal-body {
    flex-direction: row;
}
#modalBug .card-ref {
    margin-left: 10px;
}
.bug-comments {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    min-width: 75%;
    max-width: 75%;
}
.bug-meta {
    display: flex;
    flex-direction: column;
    font-size: small;
    margin-left: 10px;
    width: 100%;
}
.bug-comment {
    border-style: solid;
    border-color: darkgrey;
    border-width: thin;
    border-radius: 3px;
    padding: 7px;
    font-weight: normal;
    font-size: small;
}
.bug-comment-date {
    padding-left: 20px;
    font-size: x-small;
}
select, textarea, input, button {
    padding: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
}
input {
    padding: 4px;
}
button {
    padding: 4px;
    background-color: #E2E4E6;
}
button:hover {
    background-color: lightgrey;
}
a {
    color: grey;
}
a:hover {
    color: lightgrey;
}
#actions button,
#actions span {
    margin-left: 5px;
}
.busy {
    cursor: wait;
}
@media only screen and (max-device-width: 480px) {
    body {
        background-attachment: fixed;
    }
    #board {
        display: block;
    }
    #modalBug .modal-body,
    #modalNewBug .modal-body {
        flex-direction: column;
    }
    .modal-content {
        width: initial;
    }
    .bug-comments {
        display: block;
        min-width: initial;
        max-width: initial;
    }
    .bug-meta {
        display: block;
        margin-left: 0;
    }
}
